/* Tablet */
@media (max-width: 776px) {
    /* Header */
    .btn-proposta {
        font-size: 14px;
        padding: 10px 13px;
    }

    .container-title-header h4 {
        font-size: 28px;
        padding: 0 20px;
    }

    .container-subtitle-header h5  {
        font-size: 20px;
        padding: 0 20px;
    }

    /* Cards */
    .container-cards .row {
        width: 100%;
        justify-content: center;
        margin: 0 auto;
    }

    /* Informações da empresa */
    section.empresa {
        padding-left: 30px;
        padding-right: 30px;
    }

    .container-text-empresa h4 {
        text-align: center;
        font-size: 30px;
    }

}