@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pontano+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;900&display=swap');
  

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --color-background: #fffdf7;
    --color-black: #212121;
    --color-black-heavy: #000;
    --color-text: #4f4f4f;
    --color-text-title: #2B2B2B;
    --color-primary: #219ebc;
    --color-secondary: #08B69B;
    --color-white: #ffffff;
    --color-red: #e74c3c;
    --color-green: #2ecc71;
    --color-separate: #cccccc;
}

body, html {
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}

.hidden {
    display: none;
}

/* Header */
section.header{
    background-color: var(--color-black-heavy);
    padding: 50px 0;
    height: 100%;
    position: relative;
    overflow-y: auto;
}

body::-webkit-scrollbar {
    width: 8px;
}

body::-webkit-scrollbar-thumb {
    background-color: var(--color-primary);
    border-radius: 6px;
}

body::-webkit-scrollbar-thumb:hover {
    background-color: #636363;
}
  
body::-webkit-scrollbar-track {
    background-color: #b3b3b3;
}

.container {
    max-width: 970px;
    position: relative;
    z-index: 1;
}

.row.row-logo {
    padding-bottom: 120px;
}

.btn-proposta {
    text-decoration: none !important;
    font-size: 16px;
    font-weight: 600;
    color: var(--color-white);
    background-color: #EB3F5B00;
    border-style: solid;
    border-width: 2px;
    border-color: var(--color-white);
    border-radius: 12px;
    padding: 12px 17px
}

.btn-proposta:hover {
    color: var(--color-secondary);
}

.logo-container {
    padding: 10px;
}

.container-img-rocket {
    text-align: center;
    position: relative;
    top: 70%;
}

.container-img-rocket:hover {
    animation: moveUpDown 2s linear infinite;
}

@keyframes moveUpDown {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
    }
}


.container-img-rocket img {
    width: 220px;
}

.container-btn-proposta {
    padding: 10px;
    text-align: right;
}

.container-header-text-inicial {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container-title-header,
.container-subtitle-header {
    width: 100%;
    text-align: center;
}

.container-title-header h4 {
    color: var(--color-primary);
    font-size: 36px;
    font-weight: 600;
    line-height: 1.2em;
}

.container-subtitle-header h5 {
    color: #FFFFFFA6;
    font-family: 'Merriweather', serif;
    font-size: 21px;
    font-weight: 400;
    line-height: 1.2em;
}

.container-subtitle-header {
    max-width: 980px;
    padding-bottom: 50px;
}

.container-btn-saber-mais{
    position: relative;
    display: flex;
    justify-content: center;
    background-color: #EB3F5B00;
    border: 2px solid var(--color-white);
    padding: 2px 6px;
    width: 20px;
    height: 30px;
    border-radius: 25px;
    cursor: pointer;
    transition: all .25s;
}

.btn-saber-mais {
    animation: moveUpDownBtn 2s infinite alternate;
}

.btn-saber-mais a {
    font-weight: 600;
    font-size: 22px !important;
    text-decoration: none !important;
    color: var(--color-white);
}

@keyframes moveUpDownBtn {
    0% {
        transform: translateY(-6px);
    }
    100% {
        transform: translateY(-15px);
    }
}

.container-btn-saber-mais:hover {
    background-color: var(--color-text-title);
    color: var(--color-white);
}


/* Cards */
section.cards {
    padding: 70px 0;
    display: flex;
    justify-content: center;
    background-image: linear-gradient(black 60%, #0a333d);
}

.container-cards {
    width: 100%;
    max-width: 1100px;
    text-align: center;
}

.text-title-cards h3 {
    padding: 15px;
    color: var(--color-white);
    font-size: 36px;
    font-weight: 600;
    line-height: 1.2em;
}

.text-title-cards h3 span {
    color: var(--color-primary);
}

.col-4 {
    padding: 10px;
}

.card {
    background-color: rgba(33, 158, 188, 0.5);
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
    border: none;
    min-height: 380px;
    vertical-align: middle;
}

.container-icon {
    padding: 20px;
    padding-bottom: 0;
    display: flex;
    justify-content: center;
}

.container-icon i {
    font-size: 50px;
    font-weight: 900;
}

.title-card h5 {
    height: 54px;
    color: var(--color-white);
    font-size: 25px;
    font-weight: 600;
    line-height: 1.2em;
}

.divider {
    padding: 20px;
}

.divider hr {
    width: 22%;
    border-top: 1.3px solid red;
    margin: 0 auto;
}

.subtitle-card h6 {
    color: var(--color-white);
    font-family: "Poppins", Sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.2em;
}

/* Informações da empresa */
section.empresa {
    padding: 70px 0;
    display: flex;
    justify-content: center;
    background-image: linear-gradient(#0a333d , black);
}

.container-text-empresa h4 {
    font-size: 32px;
    font-weight: 600;
    line-height: 1.2em;
    margin-bottom: 10px;
}

.container-text-empresa h4 b {
    color: var(--color-primary);
}

.container-text-empresa {
    color: var(--color-white);
}

.container-content-empresa {
    position: relative;
    top: 10%;
    margin-bottom: 50px;
}

.container-col-text {
    font-size: 18px;
    line-height: 1.4;
    padding-right: 0;
}

.container-col-text p {
    margin-bottom: 2.5rem;
}

.bolinha1, .bolinha2, .bolinha3 {
    position: absolute;
    width: 25px;
    height: 25px;
    left: 3px;
    border-radius: 50%;
}

.bolinha1 {
    background-color: #08B69B;
}

.bolinha2 {
    background-color: #15A5C8;
}

.bolinha3 {
    background-color: #219ebc;
}


/* Vantagens */
section.vantagens {
    background-image: linear-gradient(black, #0a333d, black);
    padding: 70px 0;
}

.container-w800 {
    padding: 10px;
    max-width: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container-title-vantagens {
    margin-bottom: 20px;
    text-align: center;
}

.container-title-vantagens h3 {
    color: var(--color-white);
    font-size: 36px;
    font-weight: 600;
    line-height: 1.2em;
}

.container-title-vantagens h3 span {
    color: var(--color-primary);
}

.container-text-vantagens,
.container-icon-list-vantagens {
    padding-bottom: 20px !important;
}

.container-text-vantagens h6 {
    color: var(--color-white);
    font-size: 18px;
    font-weight: 400;
    line-height: 1.4em;
}

.icon-list-items {
    list-style: none;
}

.icon-list-item {
    padding-bottom: 8px;
    display: flex;
    align-items: center;
}

.icon-list-icon i {
    width: 50px;
    font-size: 40px;
    color: var(--color-primary);
}

.icon-list-text {
    font-size: 18px;
    font-weight: 400;
    line-height: 1.4em;
    color: var(--color-white);
}

.container-btn-vantagens {
    padding: 20px;
    text-align: center;
}

.container-btn-vantagens a {
    text-decoration: none;
    font-size: 18px;
    font-weight: 600;
    fill: #FFFFFF;
    color: #FFFFFF;
    background-color: var(--color-secondary);
    border-radius: 10px 10px 10px 10px;
    padding: 20px 30px 20px 30px;
}

.container-btn-vantagens a:hover {
    background-color: var(--color-black-heavy);
    transition: all .3s;
}


/* Plataformas dos anuncios */
section.plataformas {
    padding: 70px 0;
    background-color: #0a333d;
}

.background-plataformas {
    position: absolute;
    left: -2%;
    right: 0;
    height: 300px;
    background-image: url(../images/banner.png);
}

.container-w890 {
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 890px;
}

.container-title-plataformas,
.container-text-plataformas {
    margin-bottom: 20px;
}

.container-title-plataformas h4 {
    color: var(--color-white);
    font-size: 32px;
    font-weight: 600;
    line-height: 1.2em;
    text-align: center;
}

.container-text-plataformas h5 {
    font-family: 'Pontano Sans', sans-serif;
    color: var(--color-white);
    font-size: 24px;
    font-weight: 400;
    line-height: 1.2em;
}

.container-icons-plataformas {
    display: flex;
    max-width: 500px;
    justify-content: center;
}

.icon-plataformas {
    padding: 0 40px;
}

.icon-plataformas img {
    width: 48px;
}

/* Case de sucesso */
section.case-de-sucesso {
    padding: 70px 0;
    background-color: #131319;
}

.container-title-case,
.container-text-case {
    margin-bottom: 20px;
}

.container-title-case h3 {
    font-size: 36px;
    font-weight: 600;
    line-height: 1.2em;
    color: var(--color-white);
}

.container-text-case p {
    color: var(--color-white);
    font-family: sans-serif;
    font-size: 16px;
    font-weight: 400;
}

.container-img-case {
    height: auto;
    max-width: 100%;
    margin-bottom: 70px;
}

.container-img-case img {
    width: 100%;
    max-width: 800px;
}

.container-btn-case {
    padding: 20px;
    text-align: center;
}

.container-btn-case a {
    text-decoration: none;
    font-size: 18px;
    font-weight: 600;
    fill: var(--color-secondary);
    color: var(--color-secondary);
    background-color: #EB3F5B00;
    border-style: solid;
    border-width: 3px;
    border-color: var(--color-secondary);
    border-radius: 10px;
    padding: 20px 30px;
}

.container-btn-case a:hover {
    background-color: var(--color-secondary);
    color: var(--color-white);
    transition: all .3s;
}

/* Impussionar resultados */
section.impulsionar {
    background-color: #0a333d;
    padding: 70px 0;
}

.container-title-impulsionar {
    display: flex;
    margin-bottom: 20px;
    text-align: center;
}

.container-title-impulsionar h3 {
    color: var(--color-white);
    font-size: 36px;
    font-weight: 600;
    line-height: 1.2em;
}

.container-title-impulsionar img {
    position: relative;
    width: 40px;
}

/* Depoimentos */
section.depoimentos {
    background-color: var(--color-black-heavy);
    padding: 70px 0;
}

.img-fundo-depoimentos img {
    width: 74px;
    border: 1.25px solid var(--color-primary);
    border-radius: 100px;
    display: block;
    margin-bottom: 20px;
}

.container-text-depoimentos h2 {
    font-family: "Montserrat",sans-serif;
    font-style: normal;
    font-weight: 600;
    color: white;
    margin-bottom: 40px;
    text-align: center;
}

.carousel-item {
    width: 700px;
}


/* Perguntas frequentes */
section.perguntas-frequentes {
    padding: 70px 0;
    background-image: linear-gradient(black, #0a333d);
}

.container-w680 {
    max-width: 680px;
    text-align: center;
}

.container-title-perguntas-frequentes h2 {
    padding: 10px;
    color: var(--color-white);
    font-size: 36px;
    font-weight: 600;
    line-height: 1.2em;
    margin-bottom: 15px;
}

.container-tab-title {
    color: var(--color-white);
    cursor: pointer;
    display: flex;
    justify-content: space-between;
}


.container-toggle-items {
    text-align: left;
    padding: 10px;
}

.container-toggle-item {
    font-weight: 700;
    line-height: 1;
    margin: 0;
    margin-bottom: 7px;
    cursor: pointer;
    outline: none;
}

.container-tab {
    padding: 15px 0;
}

.container-tab-title span {
    text-align: right;
    float: right;
}

.container-toggle-item a {
    font-size: 18px;
    font-weight: 500;
    line-height: 1.4em;
}

.container-tab-content {
    background-color: none;
    color: #bbbbbb;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.4em;
    padding: 15px 0;
}

.container-btn-duvidas a {
    text-decoration: none;
    font-size: 18px;
    font-weight: 600;
    fill: #FFFFFF;
    color: #FFFFFF;
    background-color: #3B8944;
    border-radius: 10px;
    padding: 17px 30px;
}

.container-btn-duvidas a:hover {
    background-color: var(--color-secondary);
}

footer {
    background-color: #000000;
    padding: 20px;
}

.container-footer {
    padding: 10px;
}

.container-img-footer {
    margin-bottom: 20px;
}

.container-text-footer h6 {
    color: #BDBDBD;
    font-family: "Poppins", Sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 1.2em;
}

/* Efeitos dos quadrados animados */
#lottie-animation {
    position: absolute;
    top: 2%;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    opacity: 0.3;
}